:root {
    --color-1: #ee82e5;
    --color-2: #000000;
    --color-3: #ee82e5;
    --color-4: #000000;
    --color-5: #ee82e5;
    --bright-blue: #ee82e5;
    --bright-orange: #ee82e5;
  }
  html {
    scroll-behavior: smooth;
    height: 100%;
    scroll-padding-top: 90px;
  }
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    font: 15pt 'Spartan', sans-serif !important;
  }
  section h1 {
    font-size: 100pt;
    padding: 0.5rem 0 1rem 0;
    margin: 0;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  .container-fluid {
    background-color: rgb(255, 255, 255);
  }
  /* header */
  header {
    background-color: rgb(134, 211, 255);
  }
  #nav {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  #nav-button {
    box-shadow: none;
  }
  
  /* nav links */
  #nav ul li,
  .icon-group {
    list-style: none;
  }
  #nav ul li a {
    font-weight: 900;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(
      219deg,
      var(--color-1) 19%,
      transparent 19%,
      transparent 20%,
      var(--color-2) 20%,
      var(--color-2) 39%,
      transparent 39%,
      transparent 40%,
      var(--color-3) 40%,
      var(--color-3) 59%,
      transparent 59%,
      transparent 60%,
      var(--color-4) 60%,
      var(--color-4) 79%,
      transparent 79%,
      transparent 80%,
      var(--color-5) 80%
    );
    font-size: 1.5rem;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.3s ease;
  }
  #nav ul li a:hover,
  .icon-group ul a:hover {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    transition: transform 0.1s ease-in;
    color: var(--color-1);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
  }
  #nav ul li a:active,
  .icon-group ul a:active {
    color: var(--color-4);
    transition: color 0.3s ease;
  }
  .icon-group ul {
    margin-bottom: 0;
  }
  /* about */
  #about {
    background-color: var(--bright-blue);
    padding: 1rem;
    margin: 3%;
  }
  #about > div {
    padding: 1rem;
  }
  .header {
    font-weight: 600;
    text-transform: uppercase;
  }
  .head-subtitle {
    text-align: center;
  }
  .skills{
    display: flex;
    gap: 1rem;
  }
  .info {
  
    margin: 0;
  }
  .info-year {
    font-weight: 500;
    display: inline-block;
    margin-right: 1%;
  }
  /* projects */
  #projects {
    background-color: #fff;
  }
  .project-card-container {
    padding: 1rem;
    margin: 3%;
  }
  .project-card {
    margin: 25px 15px;
    padding: 0.5rem;
    box-shadow: 0 9px 11px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
    background-color: #15bdf0;
    color: #4a6163;
    border-radius: 10px;
    animation: bounceInRight 2s both;
    -webkit-animation: bounceInRight 2s both;
  }



  
  @keyframes bounceInRight {
    0%,
    100%,
    60%,
    75%,
    90% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      -webkit-transform: translate3d(3000px, 0, 0);
      transform: translate3d(3000px, 0, 0);
    }
    60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px, 0, 0);
      transform: translate3d(-25px, 0, 0);
    }
    75% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
      -moz-transform: translate3d(10px, 0, 0);
      -ms-transform: translate3d(10px, 0, 0);
      -o-transform: translate3d(10px, 0, 0);
    }
    90% {
      -webkit-transform: translate3d(-5px, 0, 0);
      transform: translate3d(-5px, 0, 0);
    }
    100% {
      -webkit-transform: none;
      transform: none;
    }
  }
  .card-title {
    font-weight: 600;
    text-transform: uppercase;
    word-spacing: 0.2rem;
    text-align: center;
    font-size: calc(0.7rem + 0.5vw);
  }
  .card-title span {
    font-size: 0.7rem;
  }
  @media (max-width: 750px) {
  }

.title span {
      font-size: 0.7rem;
  }

.title {
    font-size: calc(0.7rem + 1vw);
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
    word-spacing: 0.2rem;
    text-align: center;
    font-size: calc(0.7rem + 0.5vw);
}
.card-title {
      font-size: calc(0.7rem + 1vw);
      color: #000000;
    }
  


 /* unvisited link */
a:link {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: calc(0.7rem + 1vw);
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
    word-spacing: 0.2rem;
    text-align: center;
    font-size: calc(25pt);
}

/* visited link */
a:visited {
  color: rgb(0, 0, 0);
  text-align: center;
}

/* mouse over link */
a:hover {
  color: hotpink;
  text-align: center;
}

  .project-card:hover {
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  /* contact */
  #contact {
    width: 100%;
    padding-bottom: 4%;
  }
  #contact .lead {
    text-align: center;
    font-weight: 500;
  }
  #contact .lead > a {
    color: var(--color-3);
    text-decoration: none;
  }
  #contact .lead > a:hover {
    color: var(--color-1);
  }
  #contact .lead > a:active {
    color: var(--color-4);
  }
  /* contact form */
  .contact-form {
    background: white;
    margin: auto;
    max-width: 70%;
    padding: 20px 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  @media (max-width: 767.98px) {
    .contact-form {
      max-width: 100%;
    }
  }
  .contact-form:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 8px solid var(--color-5);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .separator {
    height: 3px;
    width: 100%;
    background: var(--color-4);
    display: block;
    transform: scaleX(0) translateY(-2px);
    transform-origin: 50%;
    opacity: 0;
    transition: all 0.15s linear;
  }
  
  form .text-input {
    overflow: hidden;
    margin-bottom: 0.875em;
  }
  form #name,
  #lname,
  #email,
  #message,
  #phone {
    width: 100%;
    padding: 1em 0 12px;
    padding-left: 0;
    background: none;
    font-size: 1.2em;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #999;
  }
  #phone::-webkit-outer-spin-button,
  #phone::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  #name:focus + .separator,
  #lname:focus + .separator,
  #email:focus + .separator,
  #message:focus + .separator,
  #phone:focus + .separator {
    transform: scaleX(1) translateY(-2px);
    opacity: 1;
  }
  .text-input textarea:focus {
    box-shadow: none;
  }
  * :focus {
    outline-color: transparent;
    outline-style: none;
  }
  .form-bottom {
    margin-top: 1.25em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  /* buttons */
  .button {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  .download-btn {
    background: linear-gradient(0deg, #6fa3d3 0%, var(--color-1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .download-btn:before,
  .download-btn:after {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    background: var(--color-1);
    box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9), -4px -4px 5px 0px rgba(255, 255, 255, 0.9), 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  .download-btn:hover {
    color: var(--color-1);
    background: transparent;
  }
  .download-btn span:before,
  .download-btn span:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background: var(--color-1);
    box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9), -4px -4px 5px 0px rgba(255, 255, 255, 0.9), 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  .submit-btn {
    background: linear-gradient(0deg, rgba(255, 151, 0, 1) 0%, var(--bright-orange) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .submit-btn span,
  .download-btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .submit-btn:before,
  .submit-btn:after {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    background: var(--bright-orange);
    box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9), -4px -4px 5px 0px rgba(255, 255, 255, 0.9), 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  .submit-btn:before,
  .download-btn:before {
    height: 0%;
    width: 2px;
  }
  .submit-btn:after,
  .download-btn:after {
    width: 0%;
    height: 2px;
  }
  .submit-btn:hover {
    color: var(--bright-orange);
    background: transparent;
  }
  .submit-btn:hover:before,
  .download-btn:hover:before {
    height: 100%;
  }
  .submit-btn:hover:after,
  .download-btn:hover:after {
    width: 100%;
  }
  .submit-btn span:before,
  .submit-btn span:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background: var(--bright-orange);
    box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9), -4px -4px 5px 0px rgba(255, 255, 255, 0.9), 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  .submit-btn span:before,
  .download-btn span:before {
    width: 2px;
    height: 0%;
  }
  .submit-btn span:after,
  .download-btn span:after {
    height: 2px;
    width: 0%;
  }
  .submit-btn span:hover:before,
  .download-btn span:hover:before {
    height: 100%;
  }
  .submit-btn span:hover:after,
  .download-btn span:hover:after {
    width: 100%;
  }
 
  footer {
    position: sticky;
    min-width: 100%;
    bottom: 0;
    z-index: -10;
    padding: 1rem 0;
    background-image: linear-gradient(70deg, var(--color-1) 15%, var(--color-2) 35%, var(--color-3) 55%, var(--color-4) 80%, var(--color-5));
    text-align: center;
    color: #fff;
  }
  footer .container p {
    margin: 0;
  }
  

